/* Reset de estilos */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.logo {
    width: 130px;
    height: 90px;
}

.nombreLogo {
    font-family: "Protest Riot", sans-serif;
    font-size: 30px;
}

h2 {
    font-family: "Anta", sans-serif;
    font-size: 35px;
}

/* Estilos para el contenedor principal */
.background-container {
    background-image: url('cielo_campo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para el contenedor del formulario de inicio de sesión */
.login-container {
    background-color: rgba(247, 245, 245, 0.8);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgb(252, 252, 252);
    width: 650px;
    height: calc(100vh - 100px);
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    animation-name: fadeIn;
    animation-duration: 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (min-height: 530px){
    .login-container {
        height: 477px;
    }
}

/* Estilos para la imagen y el eslogan */
.container__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(to left, rgb(78, 109, 154), rgb(17, 64, 102));
    box-shadow: 0 0 10px rgb(6, 51, 79);
}

/* Estilos para la imagen lateral */
.side-image {
    width: 325px;
    height: 490px;
    border-radius: 25px;
}

/* Estilos para el formulario */
.form-group {
    position: relative;
    margin-bottom: 32px;
    padding-right: 40px;

}

/* Estilos para los campos de entrada */
input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(6, 51, 79);
    background-color: transparent;
    outline: none;
    transition: .5s;
}

/* Estilos para los labels */
label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    transition: all 0.5s ease;
    pointer-events: none;
}

#username:focus ~ label,
#username:valid ~ label{
    top: -5px;
}

#password:focus ~ label,
#password:valid ~ label{
    top: -5px;
}

.form-group ion-icon{
    position: absolute;
    right: 25px;
    top: 12px;
    font-size: 22px;
}

/* Estilos para el botón de inicio de sesión */
button {
    background-color: #174ba5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3268c6;
}
