
/* Estilos para el spinner de carga */
.loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 1.5s linear infinite;
    z-index: 9999;
    width: 150px;
    background-image: url('sky.jpg');
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg); /* Rotación inicial */
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg); /* Rotación completa */
    }
}

/* Reset de estilos */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Dimensiones de Logo */
.logo {
    width: 130px;
    height: 90px;
}

/* Letra de Nombre Logo */
.nombreLogo {
    font-family: "Protest Riot", sans-serif;
    font-size: 30px;
}

p {
    font-family: "Anta", sans-serif;
    font-size: 35px;
}

/* Estilos para el contenedor principal */
.background-container {
    background-image: url('cielo_campo.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Para que el spinner se posicione correctamente */
}

/* Estilos para el contenedor del formulario de inicio de sesión */
.login-container {
    background-color: rgba(247, 245, 245, 0.8);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 5px rgb(252, 252, 252);
    width: 650px;
    height: calc(100vh - 100px);
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    animation-name: fadeIn;
    animation-duration: 0.2s;
    opacity: 0.9;
}

/* Efecto de desvanecimiento */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

@media screen and (min-height: 530px){
    .login-container {
        height: 477px;
    }
}

/* Estilos para la imagen y el eslogan */
.container__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: linear-gradient(to left, rgb(78, 109, 154), rgb(17, 64, 102));
    /* box-shadow: 0 0 10px rgb(6, 51, 79); */
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Estilos para la imagen lateral */
.side-image {
    width: 325px;
    height: 490px;
    border-radius: 25px;
}

/* Estilos para el formulario */
.form-usuario {
    position: relative;
    margin-bottom: 32px;
    padding-right: 40px;
}

.form-clave {
    position: relative;
    margin-bottom: 32px;
    padding-right: 40px;
}

/* Estilos para los campos de entrada */
input {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid rgb(6, 51, 79);
    background-color: transparent;
    outline: none;
    transition: .5s;
}

/* Estilos para los labels */
label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    transition: all 0.5s ease;
    pointer-events: none;
}

#username:focus ~ label,
#username:valid ~ label{
    top: -5px;
}

#password:focus ~ label,
#password:valid ~ label{
    top: -5px;
}

.form-usuario ion-icon,
.form-clave ion-icon {
    position: absolute;
    right: 25px;
    top: 12px;
    font-size: 22px;
}

/* Boton inicio de sesion */
button {
    background-color: #174ba5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Color sobre el boton */
button:hover {
    background-color: #3268c6;
}

.dark-mode .background-container {
    background-image: url('cielo_estrellado2.webp'); /* Cambiar la imagen de fondo para el modo oscuro */
}

.dark-mode .login-container {
    /* background-color: rgb(133, 133, 133); */
    background-color: rgb(80, 80, 80);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0.9; /* nivel de transparencia */
}

.dark-mode .form-group input {
    border-bottom-color: #fff; /* Cambiar el color del borde inferior de los campos de entrada para el modo oscuro */
}

.dark-mode label {
    color: #ddd;
}

.dark-mode button {
    background-color: #333; /* Cambiar el color de fondo del botón para el modo oscuro */
    color: #fff;
}

.dark-mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.dark-mode h2,
.dark-mode .nombreLogo span {
    color: white;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

p, .nombreLogo span {
    animation: fadeEffect 3s ease;
}

/* Pantalla de dispositivo movil  vertical*/
@media (max-width: 430px) { /* ancho igual o menor de 430 */

    .login-container {
        display: flex;
        flex-direction: column;
        width: 80%; /* ancho */
        height: 450px; /* altura */
    }

    .container__image img {
        display: none;
    }

    .form-usuario ion-icon {
        position: absolute;
        right: 13px;
        top: 2.5px;
        width: 32px;
        height: 32px;
    }

    .form-clave ion-icon {
        position: absolute;
        right: 13px;
        top: 2.5px;
        width: 32px;
        height: 32px;
    }

    .boton_inicio_sesion {
        button {
            font-size: 17px;
        }
    }

}

/* Pantalla de dispositivo movil horizontal */
@media (max-width: 940px) and (orientation: landscape) {
    
    .logo {
        width: 105px;
        height: 65px;
    }

    .nombreLogo {
        font-size: 25px;
    }

    p {
        position: relative;
        top: 7px;
    }

    .login-container {
        width: 75%;
        height: 80%;
    }

    .side-image {
        position: absolute;
        height: auto;

    }

    .container__image {
        position: relative;
        height: 344px;
        width: 325px;
        overflow: hidden;
        left: 13px;
    }

    .form_container {
        position: relative;
        top: 5px;
        font-size: 18px;
    }

    .form-usuario,
    .form-clave {
        top: 28px;
    }

    .inicio {
        font-family: "Anta", sans-serif;
        font-size: 35px;;
        margin: 0px;
    }

    .boton_inicio_sesion {
        button {
            position: relative;
            top: 25px;
            
        }
    }

}

/* Pantalla de dispositivo movil horizontal */
@media (max-width: 850px) and (orientation: landscape) {
    
    .logo {
        width: 100px;
        height: 60px;
    }

    .nombreLogo {
        font-size: 23px;
    }

    p {
        position: relative;
        top: 2px;
    }

    .login-container {
        width: 75%;
        height: 80%;
    }

    .side-image {
        position: absolute;
        height: auto;

    }

    .container__image {
        position: relative;
        height: 315px;
        width: 315px;
        overflow: hidden;
        left: 1px;
    }

    .form_container {
        position: relative;
        top: 5px;
        font-size: 18px;
    }

    .form-usuario,
    .form-clave {
        top: 18px;
    }

    .inicio {
        font-family: "Anta", sans-serif;
        font-size: 35px;;
        margin: 0px;
    }

    .boton_inicio_sesion {
        button {
            position: relative;
            top: 8px;
            
        }
    }

}

/* Pantalla de monitor 1920 x 1080
@media (max-width: 1930px) and (orientation: landscape) {
    
    .logo {
        width: 200px;
        height: 160px;
    }

    .nombreLogo {
        font-size: 50px;
    }

    p {
        position: relative;
        top: 2px;
    }

    .login-container {
        width: 75%;
        height: 80%;
    }

    .side-image {
        position: absolute;
        height: auto;

    }

    .container__image {
        position: relative;
        height: 315px;
        width: 315px;
        overflow: hidden;
        left: 1px;
    }

    .form_container {
        position: relative;
        top: 5px;
        font-size: 18px;
    }

    .form-usuario,
    .form-clave {
        top: 18px;
    }

    .inicio {
        font-family: "Anta", sans-serif;
        font-size: 70px;
        margin: 10px;
    }

    .boton_inicio_sesion {
        button {
            position: relative;
            top: 300px;
            left: 25px;
            font-size: 25px;
            
        }
    }

} */
